.GoldCalculator {
    margin-top: 50px;
    display:flex;
    flex-direction: column;
    margin-left: 300px;
  }
  
  .table {
    width: 77%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table th,
  .table td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }